.Pane {
-fx-background-image:url('sea.jpg');
}
.label{
-fx-font-size:46;
-fx-font-weight:bold;
-fx-text-fill:#006464;
-fx-effect:dropshadow(gaussian,rgba(255,255,255,0.5),0,0,0,1);
}
.button{
-fx-background-color: black;
-fx-text-fill:white;
}